/* @import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap"); */
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Open+Sans+Condensed:300&display=swap');

body {
  margin: 0px;
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: white;
  background-image: url('https://cdn.pixabay.com/photo/2016/10/17/14/31/background-1747781_1280.jpg');
}

.header {
  background-image: url('https://cdn.pixabay.com/photo/2016/11/10/07/43/tango-1813691_1280.jpg');
  padding: 500px 0 0 0;
  opacity: 1;
  display: block;
  background-size: cover;
  background-position: center;
}

.header h1 {
  background: black;
  opacity: 0.7;
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 48px;
  color: white;
  justify-content: center;
  align-items: center;
  display: inline-block;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  left: 10px;
  right: 10px;
  top: 23%;
  text-align: center;
}

.header h2 {
  opacity: 0.7;
  padding-top: 100px;
  padding-bottom: 30px;
  font-size: 24px;
  color: white;
  justify-content: center;
  align-items: center;
  display: inline-block;
  position: absolute;
  z-index: 2;
  font-style: italic;
  font-weight: bold;
  margin: 0 auto;
  left: 10px;
  right: 10px;
  top: 23%;
  text-align: center;
}

.header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* NAV LINK HOVER */
.nav {
  z-index: 998;
  position: sticky;
  top: 0em;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  color: #d6ac91;
}

.nav ul {
  padding: 20px;
  background: black;
  opacity: 1;
  margin: 0;
  text-align: center;
  box-shadow: 5px 5px 5px 0px gray;
}

.nav li {
  display: inline-block;
  padding: 0px 25px 0px 25px;
  font-weight: bold;
  font-size: 22px;
}

/* SEARCHBAR STYLE */
.search-bar {
  background-color: #7d7b74;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 2px 0px gray;
  z-index: 998;
  position: sticky;
  top: 3em;
  display: flex;
  flex-direction: row;
}

.filter-button {
  background-color: white;
  font-size: 22px;
  margin: 0 0px 0 5px;
  padding: 0 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 4px;
}

.filter-button:hover {
  background-color: black;
  color: #d6ac91;
  font-size: 22px;
  margin: 0 0px 0 5px;
  border-radius: 4px;
}


#form-input {
  background-color: white;
  font-size: 22px;
  width: 350px;
  font-family: 'Open Sans Condensed', sans-serif;
}

#form-submit {
  background-color: white;
  font-size: 22px;
  margin: 0 0px 0 5px;
  padding: 0 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 4px;
}

#form-submit:hover {
  background-color: black;
  color: #d6ac91;
  font-size: 22px;
  margin: 0 0px 0 5px;
  border-radius: 4px;
}

input {
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
}

h4 {
  color: white;
}

/* ABOUT STYLE */

.about-container {
  margin: 0 auto;
}

.grid-card {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  max-width: 1180px;
}

.about-welcome {
  
}

.about-catch-phrase {

}

.header-img {

}

.met-your-dev {
  display: flex;
  flex-wrap: wrap;
}

.profile {
  width: 400px;
  height: 350px;
  border-radius: 20%;
}

.dev {
 
}

.dev-name {
  flex-flow: row-reverse;
  font-size: 40px;
}

.dev-about {
  font-size: 20px;
}

/* CARD STYLE */
.card {
  height: 400px;
  width: 250px;
  border: rgb(106, 106, 106) 0.1px solid;
  box-shadow: 2px 2px 2px 0px gray;
  margin: 15px;
  text-align: center;
  border-radius: 0px 0px 0px 20px;
  padding: 0px;
  color: dark-gray;
  background-color: #d1a080;
  opacity: 0.85;
}
.card img {
  height: 120px;
  width: 249px;
  border: #333 1px solid;
  position: center;
  border: rgb(106, 106, 106) 1px solid;
  border-radius: 0px 0px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.front-buttons {
  background-color: #36454f;
  box-shadow: 0.5px 0.5px 0.5px 0px gray;
  color: #d1a080;
  border: rgb(106, 106, 106) 0.1px solid;
  width: 124px;
}

.front-buttons:hover {
  background-color: black;
  box-shadow: 0.5px 0.5px 0.5px 0px gray;
  color: #d1a080;
  border: rgb(106, 106, 106) 0.1px solid;
  width: 124px;
}

/* BACK OF CARD / EDIT FORM */
.edit-form {
  padding-top: 80px;
  height: 320px;
  width: 250px;
  border: rgb(106, 106, 106) 0.1px solid;
  box-shadow: 2px 2px 2px 0px gray;
  margin: 15px;
  text-align: center;
  border-radius: 0px 0px 0px 20px;
  color: dark-gray;
  background-color: #d1a080;
  opacity: 0.85;
  font-size: 22px;
  font-weight: bold;
}

#event-name {
  text-align: left;
  margin-bottom: 20px;
}

#event-date {
  text-align: left;
  margin-bottom: 20px;
}

#event-desc {
  text-align: left;
  margin-bottom: 20px;
}

#edit-submit-button {
  background-color: #36454f;
  color: #d6ac91;
  font-size: 18px;
  margin: 0 0px 0 5px;
  padding: 0 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

#edit-submit-button:hover {
  background-color: black;
  color: #d6ac91;
  font-size: 18px;
  margin: 0 0px 0 5px;
}

/* FOOTER */
.footer {
  text-align: center;
  font-size: 18px;
  background-color: white;
  padding: 1px 0;
  box-shadow: 2px 2px 2px 2px gray;
  position: sticky;
  bottom: 0em;
}

/* CREATE EVENTS PAGE */
.create-event-header {
  background-image: url('https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_1280.jpg');
  padding: 500px 0 0 0;
  opacity: 1;
  display: block;
  background-size: cover;
  background-position: center;
}

.create-event-header h1 {
  background: black;
  opacity: 0.7;
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 48px;
  color: white;
  justify-content: center;
  align-items: center;
  display: inline-block;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  left: 10px;
  right: 10px;
  top: 23%;
  text-align: center;
}

.create-event-header h2 {
  opacity: 0.7;
  padding-top: 100px;
  padding-bottom: 30px;
  font-size: 24px;
  color: white;
  justify-content: center;
  align-items: center;
  display: inline-block;
  position: absolute;
  z-index: 2;
  font-style: italic;
  font-weight: bold;
  margin: 0 auto;
  left: 10px;
  right: 10px;
  top: 23%;
  text-align: center;
}

.create-event-form {
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
  margin: 40px 10%;
  border: rgb(106, 106, 106) 0.1px solid;
  box-shadow: 2px 2px 2px 0px gray;
  padding: 40px;
  text-align: center;
}

.create-event-form h2 {
  margin: 0;
  font-weight: bold;
}

.create-event-form input {
  margin-bottom: 20px;
  width: 500px;
}

#create-event-desc {
  font-family: sans-serif;
  width: 500px;
  font-size: 18px;
}

#create-event-button {
  margin-top: 40px;
  width: 250px;
  padding: 10px;
  background-color: #36454f;
  color: #d6ac91;
}

#create-event-button:hover {
  background-color: black;
  color: #d6ac91;
}

#create-event-footer {
  text-align: center;
  font-size: 18px;
  background-color: white;
  padding: 1px 0;
  box-shadow: 2px 2px 2px 2px gray;
  position: sticky;
  bottom: 0em;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .header {
    /* background-image: url('https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_1280.jpg'); */
    /* background-image: url('https://www.dance.nyc/images/users/13092/MarcandKirievent_image.jpg'); */
    background-image: url('https://cdn.pixabay.com/photo/2016/11/10/07/43/tango-1813691_1280.jpg');
    color: white;
    padding: 400px 0 0 0;
    opacity: 1;
    background-size: cover;
  }
}

/* Background images */

/* background-image: url('https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_1280.jpg'); */
/* background-image: url('https://www.dance.nyc/images/users/13092/MarcandKirievent_image.jpg'); */
