@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
body {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
  background-image: url('https://cdn.pixabay.com/photo/2016/10/17/14/31/background-1747781_1280.jpg');
}

.header {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/10/07/43/tango-1813691_1280.jpg'); 
    padding: 500px 0 0 0;
    opacity: 1;
    display: block;
    background-size: cover;
    background-position: center;
    }

.header h1 {
  background: black;
  opacity: 0.7;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 48px;
  color: white;
  justify-content: center;
  align-items: center;
  display: inline-block;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  left: 10px;
  right: 10px;
  top: 23%;
  text-align: center;
}

.header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* NAV LINK HOVER */
.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover{
  color: #d6ac91;
}

/* .nav-link:hover {
  background-color: #F9C889;
  color: black;
} */

.nav ul {
  padding: 20px;
  background: black;
  opacity: 1;
  margin: 16px 0 0 0;
  text-align: center;
  box-shadow: 5px 5px 5px 0px gray;
}

.nav li {
  display: inline;
  padding: 0px 25px 0px 25px;
  font-weight: bold;
  font-size: 22px;

}

/* CARD STYLE */
.card {
  height: 400px;
  width: 250px;
  border: rgb(106, 106, 106) 0.1px solid;
  box-shadow: 2px 2px 2px 0px gray;
  margin: 15px;
  text-align: center;
  border-radius: 0px 0px 0px 20px;
  padding: 0px;
  color: dark-gray;
  background-color: #d1a080;
  opacity: 0.85;
}

.card img {
  height: 100px;
  width: 249px;
  border: #333 1px solid;
  position: center;
  border: rgb(106, 106, 106) 1px solid;
  border-radius: 0px 0px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


    

/* Smartphones (portrait and landscape) ----------- */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .header {
      /* background-image: url('https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_1280.jpg'); */
      /* background-image: url('https://www.dance.nyc/images/users/13092/MarcandKirievent_image.jpg'); */
      background-image: url('https://cdn.pixabay.com/photo/2016/11/10/07/43/tango-1813691_1280.jpg');
      color: white;
      padding: 400px 0 0 0;
      opacity: 1;
      background-size: cover;
      }

  }


  /* Background images */
    /* background-image: url('https://image.shutterstock.com/image-photo/shot-young-woman-dancing-nightclub-600w-763642693.jpg');   */
  /* background-image: url('https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_1280.jpg'); */
    /* background-image: url('https://www.dance.nyc/images/users/13092/MarcandKirievent_image.jpg'); */